<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meifawu.meifawu.dao.UserMapper">
    <select id="findAllUser"  resultType="com.meifawu.meifawu.entity.User">
        select * from user
    </select>

    <select id="validateStatus" resultType="com.meifawu.meifawu.entity.User">
        select * from user where nick_name = #{nickName}
    </select>


    <insert id="addUser" parameterType="com.meifawu.meifawu.entity.User">
        insert into user (nick_name,header_url) values (#{nickName},#{headerUrl})
    </insert>

    <select id="findUserByNickName" resultType="com.meifawu.meifawu.entity.User">
        select * from user where nick_name = #{nickName}
    </select>


    <update id="updateUserByName" parameterType="com.meifawu.meifawu.entity.User">
        update user set user_balance=#{userBalance},user_category=#{userCategory} where nick_name=#{nickName}
    </update>

    <delete id="deleteUserById" parameterType="Integer">
        delete from  user where user_id = #{userId}
    </delete>

    <update id="updateUserBalanceByNickName" parameterType="com.meifawu.meifawu.entity.User">
        update user set user_balance=#{userBalance} where nick_name=#{nickName}
    </update>

</mapper>
